<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>me.jasonlong.isometric-contributions</string>
       <key>Developer Identifier</key>
       <string>DC57SSRSQE</string>
       <key>CFBundleVersion</key>
       <string>1.0.8</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.8</string>
       <key>URL</key>
       <string>http://github.com/jasonlong/isometric-contributions/raw/master/safari/isometric-contributions.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
