<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>DC57SSRSQE</string>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>installerSigningCertificate</key>
	<string>3rd Party Mac Developer Installer</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>me.jasonlong.isometric-contribution</key>
		<string>Isometric Contributions App Store</string>
		<key>me.jasonlong.isometric-contribution.Extension</key>
		<string>Isometric Contributions Extension App Store</string>
	</dict>
</dict>
</plist>
