/* Normal chart display */
.ic-squares #isometric-contributions,
.ic-squares .ic-contributions-wrapper {
  display: none;
}

/* Isometric cube display */
.ic-cubes .contrib-details,
.ic-cubes .contrib-footer {
  display: none;
}

.ic-cubes .calendar-graph {
  display: none ! important;
}

.ic-cubes.show-2d .contrib-footer {
  display: block;
}

.ic-cubes.show-2d .calendar-graph {
  display: block ! important;
}

