.ic-toggle {
  position: relative;
  top: 0px;
  right: 10px;
  float: right;
  margin-left: 20px;
}

.ic-toggle.ic-with-lock {
  right: 24px;
}

.ic-toggle .tooltipped {
  top: 0 ! important;
  right: 0 ! important;
  float: none ! important;
}

.ic-toggle-option {
  height: 32px;
  font-size: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 9px 11px;
  border: solid 1px #d5d5d5;
}

.ic-toggle-option:hover {
  background-color: #eee;
}

.ic-toggle .ic-toggle-option:first-child {
  padding: 2px 13px 2px 10px;
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ic-toggle .ic-toggle-option:last-child {
  padding: 2px 10px 2px 13px;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ic-toggle-option.active {
  background-color: #035dd2;
  border-color: #035dd2;
}

.ic-toggle-option.active.tooltipped:focus::before,
.ic-toggle-option.active.tooltipped:focus::after {
  display: none;
}

.ic-toggle-option.squares {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQ5MEI3NkE2QUQzRjExRTM5NzQ1QzFFMDFGOUU0RUFBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQ5MEI3NkE3QUQzRjExRTM5NzQ1QzFFMDFGOUU0RUFBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NDkwQjc2QTRBRDNGMTFFMzk3NDVDMUUwMUY5RTRFQUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NDkwQjc2QTVBRDNGMTFFMzk3NDVDMUUwMUY5RTRFQUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6aGpWeAAAAO0lEQVR42mL8//8/AzUAy6xZs/CalJaWxgiiCaljYqASGDVoKBrESK0ESTUXjabsUYOGZ8qmmkEAAQYAsZ0Wv1c4rIwAAAAASUVORK5CYII=);
}

.ic-toggle-option.squares.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjkyRjY4NTMzQUQzRTExRTM5NzQ1QzFFMDFGOUU0RUFBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjkyRjY4NTM0QUQzRTExRTM5NzQ1QzFFMDFGOUU0RUFBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OTJGNjg1MzFBRDNFMTFFMzk3NDVDMUUwMUY5RTRFQUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OTJGNjg1MzJBRDNFMTFFMzk3NDVDMUUwMUY5RTRFQUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6wggErAAAAOUlEQVR42mJgoBJg/A8EeBUAAYgmpI6JWi4aNWgoGsQCTCaziEpwRKobTdmjBo2mbJwpmyoGAQQYACwoFZH07rnMAAAAAElFTkSuQmCC);
}

.ic-toggle-option.cubes {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjkyRjY4NTJGQUQzRTExRTM5NzQ1QzFFMDFGOUU0RUFBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjkyRjY4NTMwQUQzRTExRTM5NzQ1QzFFMDFGOUU0RUFBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OTJGNjg1MkRBRDNFMTFFMzk3NDVDMUUwMUY5RTRFQUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OTJGNjg1MkVBRDNFMTFFMzk3NDVDMUUwMUY5RTRFQUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6sSajGAAABpklEQVR42syUv07CUBTG2wYTFwwTE1FjGAzxAUCewBcQ0ZiwUDb/TBoeAHVSN9vURYwSH8AngOADQHRwUBcHNDHpwmBav0u+m9wU2mLi4El+3HLud0577z336JZlaSGmg3XQ4P86uAO+KjJNczQaIUnyoANaYIm06MtPCggmWgA3oAsKylgI+G6pHUuU5BKeQBm8gA1QBA+kSJ+cE9qGbdvJ0T5gj04xVkAKuEx4BoYhy54Fu9yzOfAFrhL42aPAA/vgUos28YIT8AFsfsCOEVimA/ogF5EoR42j7rF8EBPX/Coh7IF7vk1air4eNR5j+mqib7ANMjwVUUNrYADOyYA+nZoMY0Sslgh89jtY5QmJMpgX61fm38AWaMfVkbQO66Sq+Kr0tacpyKA5vBI+n0MtLtHU9qeJxDGugAuQ/kVsmjEi1jN4PT5BDTyDQ14DLeKKHFBbY2xFJGqCLDgCMxwfQYk1o/anEueOFW0WPakp98jlJVxmi1hU+o9OZH+Sc0JbRxJ30ma/gs1A/5Gm+srUxp6a2n+GRO1P433Z9/3/VUc/AgwABC9r2yOgRiMAAAAASUVORK5CYII=);
}

.ic-toggle-option.cubes.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjkyRjY4NTJCQUQzRTExRTM5NzQ1QzFFMDFGOUU0RUFBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjkyRjY4NTJDQUQzRTExRTM5NzQ1QzFFMDFGOUU0RUFBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MzMxMEU4QzJBRDI0MTFFMzk3NDVDMUUwMUY5RTRFQUEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OTJGNjg1MkFBRDNFMTFFMzk3NDVDMUUwMUY5RTRFQUEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4zDy6UAAAB60lEQVR42rRUsUsCYRS/EwKXOCHIMahAcJMaHNprDEFdI/ob1MVNLmiJWryxAmsMlyZJTkJwiKaWqyAQLFAiLsg66673s++T787zpKEHP/x87/f73ffuHU9yHEeaAJmQJTwwZFnOxRvFBJMkoemMR5PVphotEE65yjCM51QqdQ7gLBieMe6Y0SxBtW37A6xut2vmcrlaKBQqEGURwBk51MBhXBVabrRPyVcU+/2+pWlaS1GUPSqtEmShBRk51Mrlcou4n8wQ2gOJ35UStqqqNSJvEGYmDQE1wjq40HC95PNCbwnxgGnGGccVQ6N2u/1Sr9cN4Qn4vSBEBIMIy9m8A2igHRl1Op0nuu52LBY78UxngP4ZBuI0wYUGWpcR618h5NPpdLXX6715r49cJpOpggMuNL5GwgtdIuyWSiWdm+CMHGFZ5AYaCYZreG0Azn4cbhSSAoLqV35nvwg0+lPYv/FNT9QI896r89Z82gJXgxYGUrFYvDRN8519G5hUgRAOMEItz7gOtPDApZLRaPSwUqncWJb1xQwf+f4RjIb7idUccKGBFh58OmHCZiKRONZ1/c6zf8bOjUbjHlxomFbyjnuOsOOzf1z7CRxwp25Icf+gBUDcT34bUg4YKGorhC32/4hwjWdL/xk/AgwA7kGg+q2lp1UAAAAASUVORK5CYII=);
}
/*
 * Normal chart display
 */
.ic-squares #isometric-contributions,
.ic-squares .ic-contributions-wrapper {
  display: none;
}

/*
 * Isometric cube display
 */
.ic-cubes .contrib-details,
.ic-cubes .contrib-footer {
  display: none;
}

.ic-cubes .calendar-graph {
  display: none !important;
}

.ic-cubes.show-2d .contrib-footer {
  display: block;
}

.ic-cubes.show-2d .calendar-graph {
  display: block !important;
}

.ic-cubes #contributions-calendar {
  min-height: 3px;
  border-top: 0;
}

.ic-contributions-wrapper {
  position: relative;
}

/*
 * Stats display
 */
.ic-stats-block {
  position: absolute;
}

.ic-stats-top {
  top: 8px;
  right: 20px;
}

.ic-stats-bottom {
  top: 225px;
  left: 20px;
}

.ic-stats-table {
  display: table;
}

.ic-stats-row {
  display: table-row;
}

.ic-stats-label {
  display: table-cell;
  padding-bottom: 12px;
  font-size: 14px;
  color: #777;
  text-align: right;
  vertical-align: bottom;
}

.ic-stats-count {
  display: block;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: #1e6823;
}

.ic-stats-meta {
  display: table-cell;
  padding-bottom: 12px;
  padding-left: 8px;
  text-align: left;
  line-height: 1.2;
  vertical-align: bottom;
}

.ic-stats-total-meta {
  vertical-align: middle;
}

.ic-stats-average {
  font-size: 12px;
  font-weight: bold;
  color: #24292e;
}

.ic-stats-unit {
  display: block;
  font-size: 14px;
}

.ic-stats-date {
  display: block;
  color: #999;
  font-size: 12px;
}

.ic-footer {
  position: absolute;
  top: 380px;
  left: 20px;
  font-size: 11px;
  color: #999;
}

.ic-footer a {
  color: #777;
}
