/* Normal chart display */
.ic-squares #isometric-contributions,
.ic-squares .ic-contributions-wrapper {
  display: none;
}

/* Isometric cube display */
.ic-cubes .contrib-details {
  display: none;
}

.ic-cubes .js-calendar-graph {
  display: none ! important;
}
